<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="allfile" xsi:type="File"
            layout="[${longdate}][${machinename}][${level}] ${message} ${exception}"
            fileName="C:\inetpub\wwwroot\Logs\${shortdate}\ChatBotInt.${shortdate}.${level}.log"
            archiveFileName="C:\inetpub\wwwroot\Logs\archives\ChatBotInt.${level}.{#}.gz"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="5"
            enableArchiveFileCompression="true"
             />
    <target type='WebService'
                 name='ws'
                 url='https://core.xrmcc.local/api/Logger/Logs'
                 protocol='JsonPost'
                 encoding='UTF-8'>
      <parameter name="level" layout="${level}" />
      <parameter name="callSite" layout="${callsite}" />
      <parameter name="type" layout="${exception:format=type}" />
      <parameter name="message"  layout="${exception:format=message}" />
      <parameter name="stackTrace" layout="${exception:format=stackTrace}" />
      <parameter name="innerException"
                  layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
      <parameter name="additionalInfo"  layout="${message}" />
      <parameter name="machineName"  layout="${machinename}" />
      <parameter name="serviceName" layout="${appdomain:format={1\}}" />
    </target>
  </targets>
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Info" writeTo="allfile" />
    <logger name="*" minlevel="Error"  writeTo="ws" />
  </rules>
</nlog>
